<button (click)="toggleEditMode()">編集切り替え</button>
<ng-container [ngSwitch]="tabletopObject.aliasName">
  <ng-container *ngSwitchCase="'numberResource'">
  </ng-container>
  <ng-container *ngSwitchCase="'card'">
    <button (click)="openModal('front')">表面の画像を変更</button>
    <button (click)="openModal('back')">裏面の画像を変更</button>
  </ng-container>
  <ng-container *ngSwitchCase="'card-stack'">
  </ng-container>
  <ng-container *ngSwitchCase="'terrain'">
    <button (click)="openModal('floor')">床の画像を変更</button>
    <button (click)="openModal('wall')">壁の画像を変更</button>
  </ng-container>
  <ng-container *ngSwitchCase="'dice-symbol'">
    <button (click)="openModal(tabletopObject['face'])" [disabled]="!tabletopObject['isVisible']">ダイス目の画像を変更</button>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <button (click)="openModal('imageIdentifier', true)">画像変更</button>
  </ng-container>
</ng-container>
<button (click)="clone()">コピーを作る</button>
<button [disabled]="isSaveing" (click)="saveToXML()">
  <div style="position: relative;">
    <div [ngClass]="{'is-hidden': isSaveing}">保存</div>
    <div *ngIf="isSaveing" class="progress">{{progresPercent}}%</div>
  </div>
</button>
<ng-container *ngIf="tabletopObject.aliasName === 'character'">
  <select #select *ngIf="tabletopObject" (change)="setLocation(select.value)" [ngModel]="tabletopObject.location.name">
    <option value="table">テーブル</option>
    <option value="common">共有インベントリ</option>
    <option value="{{networkService.peerId}}">個人インベントリ</option>
    <option value="graveyard">墓地</option>
  </select>

  <!-- <div class="system-settings-container">
    <label class="system-setting-item">
      <span class="system-setting-label">テーブルインベントリ非表示</span>
      <input type="checkbox" [(ngModel)]="hideInTableInventory" />
    </label>
    <label class="system-setting-item">
      <span class="system-setting-label">発言をしない</span>
      <input type="checkbox" [(ngModel)]="disableChat" />
    </label>
    <div class="tachie-box-styled">
      <div class="tachie-section-title">表示サイズ設定</div>
      
      <label class="system-setting-item">
        <span class="system-setting-label">ポップアップ横幅</span>
        <input type="range" min="270" max="1000" [(ngModel)]="$any(tabletopObject).overViewWidth" style="width: 100px; margin-right: 8px;">
        <input type="number" min="270" max="1000" [(ngModel)]="$any(tabletopObject).overViewWidth" (change)="chkPopWidth($any($event.target).value)" style="width: 60px; color: #CCC; background: #111; border: 1px solid #444;">
      </label>

      <label class="system-setting-item">
        <span class="system-setting-label">ポップアップ縦幅最大</span>
        <input type="range" min="250" max="1000" [(ngModel)]="$any(tabletopObject).overViewMaxHeight" style="width: 100px; margin-right: 8px;">
        <input type="number" min="250" max="1000" [(ngModel)]="$any(tabletopObject).overViewMaxHeight" (change)="chkPopMaxHeight($any($event.target).value)" style="width: 60px; color: #CCC; background: #111; border: 1px solid #444;">
      </label>

      <div style="border-top: 1px solid #555; margin: 8px 0;"></div>

      <label class="system-setting-item">
        <span class="system-setting-label">コマ画像の高さを指定</span>
        <input type="checkbox" [(ngModel)]="$any(tabletopObject).specifyKomaImageFlag" />
      </label>

      <label class="system-setting-item" [style.opacity]="$any(tabletopObject).specifyKomaImageFlag ? 1 : 0.5">
        <span class="system-setting-label">コマ画像の高さ</span>
        <input type="range" min="50" max="750" [(ngModel)]="$any(tabletopObject).komaImageHeignt" [disabled]="!$any(tabletopObject).specifyKomaImageFlag" style="width: 100px; margin-right: 8px;">
        <input type="number" min="50" max="750" [(ngModel)]="$any(tabletopObject).komaImageHeignt" (change)="chkKomaSize($any($event.target).value)" [disabled]="!$any(tabletopObject).specifyKomaImageFlag" style="width: 60px; color: #CCC; background: #111; border: 1px solid #444;">
      </label>
    </div>
  </div> -->
  <div class="extra-setting" style="display:table; width: 100%;">
    <div class="extra-setting" style="width:50%;display:table-cell; text-align: right; padding-right: 10px;">
      <div>
        テーブルインベントリ非表示
        <input type="checkbox" [(ngModel)]="hideInTableInventory">
      </div>

      <div>
        発言をしない
        <input type="checkbox" [(ngModel)]="disableChat">
      </div>
      <div>
        ポップアップ横幅
        <input type="range" [style]="'font-size: 0.8em; min-width: 1em; width: 10em;' | safe: 'style'"
        min="270" max="1000" [(ngModel)]="$any(tabletopObject).overViewWidth" />
        <input class="is-caret" [(ngModel)]="$any(tabletopObject).overViewWidth" type="number" style="width:4em; color: #555;"
        min="270" max="1000" (change)="chkPopWidth($any($event.target).value)" />
      </div>
      <div>
        ポップアップ縦幅最大
        <input type="range" [style]="'font-size: 0.8em; min-width: 1em; width: 10em;' | safe: 'style'"
        min="250" max="1000" [(ngModel)]="$any(tabletopObject).overViewMaxHeight" />
        <input class="is-caret" [(ngModel)]="$any(tabletopObject).overViewMaxHeight" type="number" style="width:4em; color: #555;"
        min="250" max="1000" (change)="chkPopMaxHeight($any($event.target).value)" />
      </div>
    </div>
    <div class="extra-setting" style="width:50%;display:table-cell; text-align: right; padding-left: 10px;">
      コマ画像の高さを指定
      <input type="checkbox" [(ngModel)]="$any(tabletopObject).specifyKomaImageFlag">
      <div>
        コマ画像の高さ
        <input type="range" [style]="'font-size: 0.8em; min-width: 1em; width: 10em;' | safe: 'style'"
        min="50" max="750" [(ngModel)]="$any(tabletopObject).komaImageHeignt" [disabled]="!$any(tabletopObject).specifyKomaImageFlag" />
        <input class="is-caret" [(ngModel)]="$any(tabletopObject).komaImageHeignt" type="number" style="width:4em; color: #555;"
        min="50" max="750" (change)="chkKomaSize($any($event.target).value)" [disabled]="!$any(tabletopObject).specifyKomaImageFlag"/>
      </div>
    </div>
  </div>

</ng-container>
<div *ngIf="tabletopObject" class="flex-container">
  <div *ngIf="0 < tabletopObject.imageFile?.url.length" class="box main-image-box">
    <img class="main-image" [src]="tabletopObject.imageFile.url | safe: 'resourceUrl'" [alt]="tabletopObject.imageFile.name"
    />
  </div>

  <ng-container *ngIf="tabletopObject.commonDataElement">
    <div class="flex-item">
      <div class="table">
        <div class="table-row" game-data-element [gameDataElement]="tabletopObject.commonDataElement" [isTagLocked]="true"></div>
      </div>
    </div>
  </ng-container>

<ng-container *ngIf="tabletopObject.detailDataElement">
    <ng-container *ngFor="let childElement of tabletopObject.detailDataElement.children">
      <div class="flex-item" *ngIf="$any(childElement).name !== 'tachie' && $any(childElement).name !== 'システム設定'">
      <div class="table">
          <div class="table-row" game-data-element [gameDataElement]="$any(childElement)" [isEdit]="isEdit"></div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="tabletopObject.aliasName === 'character'">
    <div class="flex-item full-width">
      <div class="tachie-section-container">

        <div class="tachie-box-styled">
          <div class="tachie-section-title">コマ画像</div>
          <div class="tachie-slider-row">
            <input type="range" class="tachie-slider" min="0" 
                   [max]="tachieElements.length > 0 ? tachieElements.length - 1 : 0" 
                   [ngModel]="iconIndex" (ngModelChange)="iconIndex = $event" 
                   [ngModelOptions]="{standalone: true}">
          </div>
          <div class="tachie-icon-info">
            <span class="strong-label">ICON</span>
            <span class="strong-label">{{iconIndex}} / {{tachieElements.length > 0 ? tachieElements.length - 1 : 0}}</span>
          </div>
        </div>

        <div class="tachie-box-styled">
          <div class="tachie-section-title">立ち絵位置</div>
          <div class="tachie-slider-row">
            <input type="range" class="tachie-slider" min="0" [max]="MAX_TACHIE_POS" [(ngModel)]="tachiePosition" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="tachie-icon-info">
            <span class="strong-label">POS</span>
            <span class="strong-label">値: {{tachiePosition}} ({{tachiePosition}} / {{MAX_TACHIE_POS}})</span>
          </div>
        </div>

        <div class="tachie-box-styled">
          <div class="tachie-header">
            <div class="tachie-section-title">image</div>
            <button class="tachie-btn" (click)="openTachieImageModal()">新しい項目を追加</button>
          </div>
          <div class="tachie-list">
            <div *ngFor="let tachie of tachieElements; let i = index" class="tachie-list-item">
              <img [src]="getTachieUrl(tachie.value) | safe: 'resourceUrl'" class="tachie-list-thumb">
              <div class="tachie-list-info">
                <div class="tachie-list-number">立ち絵番号{{i}}:</div>
                <input class="tachie-name-input" [(ngModel)]="tachie.currentValue" [ngModelOptions]="{standalone: true}">
                <!-- <input class="tachie-name-input" [(ngModel)]="tachie.name" [ngModelOptions]="{standalone: true}"> -->
                <div class="tachie-list-buttons">
                  <button class="tachie-btn" (click)="openTachieImageModal(tachie)">画像変更</button>
                  <button class="tachie-btn danger" (click)="removeTachieImage(tachie)">削除</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="isEdit">
    <div class="flex-item">
      <button style="width:100%; color: #555;" (click)="addDataElement()">新しい項目を追加</button>
    </div>
  </ng-container>
</div>