<div class="table" [ngClass]="{ 'direct-message': isDirect }">
  <div class="table-cell imagebox">
    <img *ngIf="0 < imageFile.url.length" class="image" [src]="imageFile.url | safe: 'resourceUrl'" />
  </div>
  <div class="table-cell" style="width:100%">

    <!-- トップ行：送信元、送信先、ダイスボットをすべてng-selectで統一 -->
    <div style="display: flex; flex-wrap: wrap; align-items: center; margin-bottom: 4px;">
      <ng-select class="ud-select is-caret" style="width: 12em;" [(ngModel)]="sendFrom" [clearable]="false">
        <ng-option *ngIf="!onlyCharacters" [value]="myPeer?.identifier">{{myPeer?.name}}（あなた）</ng-option>
        <ng-option *ngFor="let gameCharacter of gameCharacters" [value]="gameCharacter.identifier">{{gameCharacter.name}}</ng-option>
      </ng-select>
      
      <span style="margin: 0 4px;">＞</span>
      
      <ng-select class="ud-select is-caret" style="width: 10em;" [(ngModel)]="sendTo" [clearable]="false">
        <ng-option [value]="''">全員</ng-option>
        <ng-option *ngFor="let peer of otherPeers" [value]="peer.identifier">{{peer.name}}
          <ng-container *ngIf="peer === myPeer">（あなた）</ng-container>
        </ng-option>
      </ng-select>
      
      <!-- <ng-select class="ud-select is-caret" style="width: 15em; margin-left: 4px;" (change)="loadDiceBot($event)" [(ngModel)]="gameType"
        [ngModelOptions]="{standalone: true}" [clearable]="false" placeholder="システムを検索...">
        <ng-option *ngFor="let diceBotInfo of diceBotInfos" [value]="diceBotInfo.id">{{diceBotInfo.name}}</ng-option>
      </ng-select> -->
      <ng-select class="ud-select is-caret" style="width: 15em; margin-left:.1em;" 
        (change)="onChangeGameType($event)" 
        [(ngModel)]="gameType"
        [ngModelOptions]="{standalone: true}" [clearable]="false">
        <ng-option *ngFor="let diceBotInfo of diceBotInfos" [value]="diceBotInfo.id">{{diceBotInfo.name}}</ng-option>
      </ng-select>
      
      <button (click)="showDicebotHelp()" style="margin-left: 4px;">?</button>
    </div>

    <div *ngIf="!isGameTypeInList()">
      <font size="1.5" color="#FF0000">※ダイスボットが見つかりません(おそらくバージョン違いです)再選択してください。</font>
    </div>

    <!-- START: 色設定と立ち絵設定のテーブル -->
    <div class="table">
      <!-- 色設定 -->
      <!-- <div class="table-cell color-setting-tag" style="vertical-align: middle;">
        <input type="color" [(ngModel)]="chatColor" [ngModelOptions]="{standalone: true}" style="width: 20px; height: 20px; padding: 0; border: 1px solid #444; cursor: pointer; vertical-align: middle;" title="文字色変更">
        <span style="font-size: 11px; margin-left: 2px;">色設定</span>
      </div> -->

      <!-- 色設定（リリィ仕様：3パレット切り替え） -->
      <div class="table-cell" style="width: 10em; vertical-align: middle;">
        <div style="display: flex; align-items: center;">
          <div class="color-dot" (click)="setColorNum(0)" [style.background-color]="chatColorCode_0" [style.border-width.px]="colorSelectorBoxBorder_0" [style.border-radius]="colorSelectorRadius_0"></div>
          <div class="color-dot" (click)="setColorNum(1)" [style.background-color]="chatColorCode_1" [style.border-width.px]="colorSelectorBoxBorder_1" [style.border-radius]="colorSelectorRadius_1"></div>
          <div class="color-dot" (click)="setColorNum(2)" [style.background-color]="chatColorCode_2" [style.border-width.px]="colorSelectorBoxBorder_2" [style.border-radius]="colorSelectorRadius_2"></div>
          
<!-- ▼ button を span に変え、color-setting クラスを付与 -->
          <span class="color-setting small-font" style="margin-left: 5px;" (click)="showColorSetting()">
            <i class="material-icons" style="font-size: 14px; margin-right: 1px;">settings</i>色設定
          </span>
        </div>
      </div>

      <!-- 立ち絵設定 -->
      <div class="table-cell tachie-tag" style="vertical-align: middle; padding-left: 10px;">
        <ng-container *ngIf="maxTachieIndex === 0">
          <input type="range" style="font-size: 0.8em; min-width: 1em; width: 10em;" min="0" max="0" [(ngModel)]="tachieIndex" disabled />
          <span style="font-size: 11px; font-weight: bold; margin-left: 4px;">{{currentTachieName}}</span>
        </ng-container>
        <ng-container *ngIf="maxTachieIndex > 0">
          <input type="range" style="font-size: 0.8em; min-width: 1em; width: 10em;" min="0" [max]="maxTachieIndex" [(ngModel)]="tachieIndex" />
          <span style="font-size: 11px; font-weight: bold; margin-left: 4px;">{{tachieIndex}}/{{maxTachieIndex}} {{currentTachieName}}</span>
        </ng-container>
      </div>
      <div class="table-cell"></div>
    </div>
    <!-- END: 色設定と立ち絵設定 -->

    <div>
      <form>
        <textarea class="chat-input is-caret" placeholder="Enter:送信 Shift+Enter:改行 Ctrl+上下:履歴" [(ngModel)]="text"
          [ngModelOptions]="{standalone: true}" (input)="onInput()" 
          (keydown.enter)="sendChat($any($event))"
          (keydown.control.arrowup)="moveHistory($any($event), -1)" 
          (keydown.control.arrowdown)="moveHistory($any($event), 1)"
          #textArea></textarea>
          <button type="submit" (click)="sendChat(null)">SEND</button>
        <!-- <button type="submit" (click)="sendChat($any($event))">SEND</button> -->
      </form>
    </div>
    
    <div class="writing-info">
      <ng-container *ngIf="0 < writingPeerNames.length">
        <span *ngFor="let peerName of writingPeerNames; index as i" style="font-weight: bold;">{{peerName}}<span
            *ngIf="writingPeerNames.length !== (i + 1)">, </span></span>
        <span> が入力中...</span>
      </ng-container>
    </div>
  </div>
</div>