:host {
  display: block;
}

.log {
  position: relative;
  display: flex;
  flex-direction: column;
/* --- START: チャットログを上寄せにする修正 --- */
  justify-content: flex-start;
/* --- END --- */
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.virtual-scroll-container {
  flex-shrink: 0;
  width: 100%;
}