/* お引越し後のレイヤー設定 */
.tachie-layer {
  position: absolute;
  top: 0; /* お引越し先（draggable-panel）の一番上（タイトルバーの上辺）に合わせる */
  left: 0;
  width: 100%;
  height: 0;
  z-index: 100;
  pointer-events: none;
}

.tachie-image-box {
  position: relative;
  width: 100%;
  height: 0;
  overflow: visible;
}

.tachie-image {
  position: absolute;
  bottom: 0; /* レイヤーの底面に画像の足を合わせる＝ウィンドウの上にニョキッと生える！ */
  transform: translateX(-50%);
  pointer-events: auto;
  cursor: pointer;
  object-fit: contain;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
  vertical-align: bottom;
  transition: left 0.3s ease, height 0.3s ease;
}