<div class="component is-3d is-grab is-pointer-events-none" [style.width.px]="size * gridSize" [style.height.px]="size * gridSize"
  appMovable [movable.option]="movableOption" (movable.ondragstart)="onMove()" (movable.ondragend)="onMoved()" [movable.disable]="isLock">
  <div class="component-content is-3d" [@bounceInOut]="'in'">
    <div appRotable [rotable.option]="rotableOption" (rotable.ondragstart)="onMove()" (rotable.ondragend)="onMoved()" [rotable.disable]="isLock"
      class="component-content is-3d is-pointer-events-auto">
      <ng-container *ngIf="!isIconHidden && !isLock">
        <div class="pedestal-grab rotate-grab">
          <div class="pedestal-grab-border">
            <div class="material-icons of-front">autorenew</div>
            <div class="material-icons of-back">autorenew</div>
          </div>
        </div>
      </ng-container>
      <div class="pedestal-inner" [ngClass]="{'is-gray-border': hasOwner}"></div>
      <div *ngIf="isSelected" class="selected-highlight" [ngClass]="{'is-magnetic': isMagnetic}"></div>
      <div class="pedestal-outer"></div>
      <div class="component-content is-3d" [@diceRoll]="animeState" (@diceRoll.done)="animationShuffleDone($event)">
        <div class="upright-transform is-fit-width is-3d">
          <div class="rotate-frame is-3d" [style.width.px]="size * gridSize" [style.height.px]="size * gridSize">
            <div class="rotate-inner is-3d">
              
              <!-- 表向きのネームタグ -->
              <div *ngIf="0 < name.length" class="name-tag is-nowrap is-black-background"
                   [ngStyle]="{'transform': 'translateX(-50%) translateX(' + size * gridSize / 2 +'px)'}">
                <div>{{name}}:<span *ngIf="isVisible">{{face}}</span><span *ngIf="!isVisible">???</span>
                  <ng-container *ngIf="isLock">
                    <i class="material-icons lock-icon" style="display: inline;">lock</i>
                  </ng-container>
                </div>
              </div>
              
              <!-- 裏向きのネームタグ -->
              <div *ngIf="0 < name.length" class="name-tag is-nowrap is-black-background"
                   [ngStyle]="{'transform': 'translateX(-50%) translateX(' + size * gridSize / 2 +'px) rotateY(180deg)'}">
                <div>{{name}}:<span *ngIf="isVisible">{{face}}</span><span *ngIf="!isVisible">???</span>
                  <ng-container *ngIf="isLock">
                    <i class="material-icons lock-icon" style="display: inline;">lock</i>
                  </ng-container>
                </div>
              </div>

              <!-- 表向きのオーナータグ -->
              <div *ngIf="hasOwner && 0 < ownerName.length" class="owner-tag is-nowrap is-black-background"
                   [ngStyle]="{'transform': 'translateX(-50%) translateX(' + size * gridSize / 2 +'px)'}">
                <div>{{ownerName}}</div>
              </div>

              <!-- 裏向きのオーナータグ -->
              <div *ngIf="hasOwner && 0 < ownerName.length" class="owner-tag is-nowrap is-black-background"
                   [ngStyle]="{'transform': 'translateX(-50%) translateX(' + size * gridSize / 2 +'px) rotateY(180deg)'}">
                <div>{{ownerName}}</div>
              </div>

              <!-- ダイス画像（高さ指定ONの場合） -->

              <img class="image chrome-smooth-image-trick" *ngIf="(0 < imageFile.url.length) && specifyImageFlag" 
                   [ngStyle]="{'height':+ imageHeignt + 'px', 'width': 'auto', 'transform': 'translateX(-50%) translateX(' + size * gridSize / 2 +'px)'}" 
                   [src]="imageFile.url | safe: 'resourceUrl'" [ngClass]="{'is-black-mask': !isVisible, 'is-harf-black-mask': isMine}">
              <!-- ダイス画像（高さ指定OFFの場合） -->
              <img class="image chrome-smooth-image-trick" *ngIf="(0 < imageFile.url.length) && !specifyImageFlag" 
                   [ngStyle]="{'width':'100%'}" 
                   [src]="imageFile.url | safe: 'resourceUrl'" [ngClass]="{'is-black-mask': !isVisible, 'is-harf-black-mask': isMine}">
                   
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>